h1 {
    display: flex;
    background-color: lightslategray;
    justify-content: center;
  }
 
h3 {
  background-color: burlywood;
  text-align: center;
}  
  
p {
  color: red;
}

img {
  display: block;
  margin: auto;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  padding: .5rem;
  border: 1px solid red;
}

li::before {
  content: "";
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: gray;
  margin-right: .5rem;
}

 #recipebutton {
  display: block;
  margin: auto;
  border: auto;
  padding: auto;
  text-emphasis-color: red;
  
}

#homebutton {
  display: block;
  margin: auto;
  padding: 10px;
 }


.ingredientslist {
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  padding: .5rem;
  border: 1px solid black;
 }

 .stepbystep {
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  padding: .5rem;
  border: 1px solid black;
 }

 .layerlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  padding: .5rem;
  border: 1px solid black;
 }

 .recipedescription {
  background-color: yellow;
  border: 1px solid red;
 }


 